@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #181f19;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 2s steps(40, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
  100% {
    border-color: transparent;
  }
}
.splash {
  position: absolute;
  width: 234px;
  height: 234px;
  background: rgba(126, 231, 135, 0.54);
  filter: blur(182px);
}
