@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    background-color: #181f19;
  }

  :root {
    --bg: #1b1b1b;
    --green: #7ee787;
    --card_bg: #282e36;
    --btn-hover-green: #1bcd2a;
  }

  @layer components {
    .btn-green {
      @apply cursor-pointer bg-skin-globalGreen text-black rounded px-4 py-2 hover:bg-skin-hover_green transition-all font-semibold font-dmSans active:scale-95;
    }
    .btn-outline {
      @apply cursor-pointer border border-[#7EE787] text-white rounded-lg px-4 py-2 hover:border-[#1bcd2a] transition-all font-semibold font-dmSans active:scale-95;
    }
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 2s steps(40, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
  100% {
    border-color: transparent;
  }
}
.splash {
  position: absolute;
  width: 234px;
  height: 234px;
  background: rgba(126, 231, 135, 0.54);
  filter: blur(182px);
}
