@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Nunito Sans", sans-serif;
  }

  :root {
    --main: #1955ca;
    --red: #b92020;
    --tag: #8fdddd;
    --btn-hover-blue: #144198;
    --btn-hover-red: #961212;
  }

/* CSS for scrollbar begin*/
  ::-webkit-scrollbar {
    background: transparent;
    width:20px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #437ae9b9;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #437ae9;
  }
/* CSS for scrollbar ends*/

  @layer components {
    .btn-blue {
      @apply cursor-pointer bg-skin-main text-white rounded px-4 py-3 hover:bg-skin-hoverBlue transition-all font-semibold font-nunito active:scale-95;
    }
    .btn-red {
      @apply cursor-pointer bg-skin-red text-white rounded px-4 py-3 hover:bg-skin-hoverRed transition-all font-semibold font-nunito active:scale-95;
    }
    .btn-muted {
      @apply cursor-pointer bg-[#9d9d9d3d] text-black rounded px-4 py-3 hover:bg-[#9d9d9d62] transition-all font-semibold font-nunito active:scale-95;
    }
  }
}

tbody:before {
  content: "@";
  display: block;
  line-height: 15px;
  text-indent: -99999px;
}




.animation {
  display: block;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.button_animation{
  display: block;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


.Button_animation:hover{
  color: blue;
}
